.loder{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 20px solid #359FA0;
  border-left: 20px solid #8AD6D1;
  animation: rotateAnimate 1s ease-in-out 0.1ms infinite normal;
}
@keyframes rotateAnimate {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}