.navbar{
  background-color: blanchedalmond;
}
li{
 list-style-type: none;
}
ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
  color: black;
  font-style: oblique;
}
.outer{
  height: 250px;
  width: 250px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner{
  height: 50px;
  width: 50px;
  background-color: rgb(20, 131, 98);
}
